@use 'components/common.scss';

.searchContainer {
  padding-left: 10px;
  padding-right: 10px;

  .searchInput {
    @include common.phone {
      width: 95vw;
      max-width: 400px;
    }
    @include common.desktop-small {
      width: 90vw;
      max-width: 400px;
    }

    height: 32px;
    border: none;

    font-size: 15px;

    box-shadow: none;
    outline: none;
    border-radius: 3px;
  }
}
