@use 'components/common.scss';

.cardContainer {
  width: calc(50% - 0em);
  //width: 100%; for single column
  @include common.desktop-small {
    flex-grow: 1;
    max-width: 340px;
    width: 268px;
  }

  .card {
    display: block;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);

    $cardPadding: 6px; // TODO: duplicated with board.module.scss

    margin: $cardPadding;
    margin-bottom: 10px;

    > div {
      padding: 10px;
    }

    .tag {
      display: inline;
      padding: 3px;
      padding-left: 10px;
      padding-right: 10px;
      margin-right: 5px;
      font-size: 80%;

      color: #555;
      background-color: #f3f3f3;
      border-radius: 12px;
    }
  }
}
