@use 'components/common.scss';

$padding: 15px;
$borders: 15px;

.dialogContentContainer {
  padding: 20px;
}

.main {
  flex: 1;
  width: 100%;

  padding-bottom: 1rem; // margin collapse clips card shadow from bottom
  padding: 1rem;

  margin-left: auto;
  margin-right: auto;

  .sectionDivider {
    background-color: #dfdfdf;
    padding: 6px;
    padding-left: 10px;
    margin-top: 30px;
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 110%;

    border-radius: 6px;
  }

  $cardPadding: 6px; // TODO: duplicated with board.module.scss

  .cards {
    max-width: 70em;

    display: flex;
    flex-flow: row wrap;

    padding: $cardPadding;
  }
}
