@use 'components/common.scss';

$padding: 15px;
$borders: 15px;

.dialogContentContainer {
  padding: 20px;
}

.main {
  padding-bottom: 1rem; // margin collapse clips card shadow from bottom
  padding: 1rem;

  margin-left: auto;
  margin-right: auto;

  $cardPadding: 5px;

  .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: $cardPadding;
  }

  .card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

    //flex: 1 0;
    //min-width: 250px;
    //max-width: 300px;
    width: 275px;

    //height: 200px;
    margin: $cardPadding;

    > div {
      padding: 10px;
    }

    p {
      display: none;
    }
  }
}
