.scaffoldContainer {
  //padding: 1rem;
  flex: 1;
}

/* body text 

font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;
font-size: 21px;
font-style: normal;
font-weight: normal;


*/
