.scaffoldContainer {
  //padding: 1rem;
  height: 100%;
  flex: 0 1 auto;
}

/* body text 

font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;
font-size: 21px;
font-style: normal;
font-weight: normal;


*/
